<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <style>
        .about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about .div {
  background-color: #ffffff;
  width: 1280px;
  height: 832px;
  position: relative;
}

.about .ellipse {
  top: 287px;
  left: 143px;
  position: absolute;
  width: 324px;
  height: 193px;
}

.about .img {
  top: 556px;
  left: 729px;
  position: absolute;
  width: 324px;
  height: 193px;
}

.about .navbar {
  position: absolute;
  width: 1182px;
  height: 56px;
  top: 17px;
  left: 28px;
}

.about .overlap-group {
  position: absolute;
  width: 71px;
  height: 56px;
  top: 0;
  left: 0;
}

.about .vector {
  position: absolute;
  width: 27px;
  height: 26px;
  top: 30px;
  left: 0;
}

.about .vector-2 {
  position: absolute;
  width: 46px;
  height: 48px;
  top: 0;
  left: 25px;
}

.about .nepal-cares {
  position: absolute;
  width: 141px;
  top: 17px;
  left: 80px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about .text-wrapper {
  color: #161923;
}

.about .span {
  color: #c95501;
}

.about .text-wrapper-2 {
  left: 709px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  top: 18px;
  color: #161923;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-3 {
  left: 919px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  position: absolute;
  top: 18px;
  color: #161923;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-4 {
  left: 804px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  position: absolute;
  top: 18px;
  color: #161923;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-5 {
  position: absolute;
  top: 18px;
  left: 1013px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #161923;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-6 {
  position: absolute;
  top: 18px;
  left: 1125px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #161923;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.about .about-us {
  position: absolute;
  width: 179px;
  top: 145px;
  left: 551px;
  font-family: "Lora-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.about .overlap {
  position: absolute;
  width: 118px;
  height: 24px;
  top: 274px;
  left: 832px;
}

.about .our-mission {
  top: 0;
  left: 0;
  font-family: "Inter-Bold", Helvetica;
  white-space: nowrap;
  position: absolute;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-7 {
  color: #000000;
}

.about .our-story {
  top: 570px;
  left: 239px;
  font-family: "Lora-Bold", Helvetica;
  position: absolute;
  font-weight: 700;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.about .card{
  margin-top:330px;
  margin-left:100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 700px; /* Set the width of the card */
            height: 350px; /* Set the height of the card */
            border: 10px solid #ccc;
            border-radius: 15px;
            padding: 15px;
            border
           
        }

 .about .card{
  margin-top:330px;
  margin-left:100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 700px; /* Set the width of the card */
            height: 350px; /* Set the height of the card */
            border: 10px solid #ccc;
            border-radius: 15px;
            padding: 15px;
            border
           
        }


    </style>
    <div class="about">
      <section>
        <h2>About Us</h2>
        <p>Welcome to our website. We are a team of passionate individuals...</p>
    </section>
    <section>
        <h2>Services</h2>
        <ul>
            <li>Service 1</li>
            <li>Service 2</li>
            <li>Service 3</li>
        </ul>
    </section>
    <section>
      <div class="card" style="background-color:#c95501; font-size:30px; color:white">
        
        <p> NepalCares Foundation emerged from a group of students who witnessed educational disparities in their community. Motivated to bridge the gap, we launched a website to connect donors with schools and students in need. With transparency and unwavering dedication, the foundation has grown into
          a global force, ensuring that education is accessible to all.</p>
    </div>
  </section>

<section>
    <div class="about">
      <div class="card1" style="background-color:#c95501; font-size:30px; color:white">
        
        <p> Our vision is to create an education donation app that bridges funding gaps in education, promotes equal access, and inspires philanthropy. We want to empower
          donors to support schools and students transparently and efficiently, ensuring that education is accessible to all, regardless of background.</p>
    </div>
  </section>

       
        <div class="navbar">
          <div class="overlap-group">
            <img class="vector" src="https://clipground.com/images/donate-logo-4.png" /> <img class="vector-2" src="https://www.nowlove.info/uploads/9/9/4/4/99440484/s565182159174333533_p4_i6_w1500.png" />
          </div>
          <p class="nepal-cares"><span class="text-wrapper" style="font-size:60px">Nepal</span> <span class="span" style="font-size:60px">Cares</span></p>
          <div class="text-wrapper-2" href="/">
            <a href="/" style="color:#000000">Home</a>
        </div>
          <div class="text-wrapper-3"><a href="/about" style="color:#000000">About</a>
          </div>
          <div class="text-wrapper-4"><a href="/Discover" style="color:#000000;">Discover</a>
          </div>
          <div class="text-wrapper-5"><a href="/contact" style="color:#000000">Contact</a>
          </div>
          <div class="text-wrapper-6"><a href="/joinus" style="color:#000000">Join Us</a>
          </div>
        </div>
        <p class="about-us"><span class="text-wrapper">About</span> <span class="span"> Us</span></p>
        <div class="overlap">
          <p class="our-mission">
            <span class="span">Our</span>
            <span class="text-wrapper-7">&nbsp;</span>
            <span class="text-wrapper" style="color:#000000;">Vision</span>
          </p>
          <p class="our-mission">
            <span class="text-wrapper">Our</span>
            <span class="text-wrapper-7">&nbsp;</span>
            <span class="span" style="color:#000000">Vision</span>
          </p>
        </div>
        <p class="our-story"><span class="text-wrapper-7">Our </span> <span class="span" style="color:#000000">Story</span></p>
      </div>
    </div>
  </body>
</html>