<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<body>
  <style>
    .discover {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    .discover .div {
      background-color: #ffffff;
      overflow: hidden;
      width: 1280px;
      height: 832px;
      position: relative;
    }

    .discover .discover-those-in {
      position: absolute;
      width: 439px;
      top: 145px;
      left: 432px;
      font-family: "Lora-Bold", Helvetica;
      font-weight: 700;
      color: transparent;
      font-size: 40px;
      letter-spacing: 0;
      line-height: normal;
      margin:  8px;
      padding:0 5px;
      justify-content: center;
    }

    .discover .text-wrapper {
      color: #161923;
    }

    .discover .span {
      color: #c95501;
    }

    .discover .search-bar {
      position: absolute;
      width: 612px;
      height: 40px;
      top: 214px;
      left: 370px;
      right: 400px;
    }

    .discover .overlap-group {
      width: 560px;
      height: 40px;
      left: 0;
      background-color: #ffffff;
      border-radius: 10px;
      border: 1px solid;
      border-color: #161923;
      position: absolute;
      top: 0;
    }

    .discover .text-wrapper-2 {
      position: absolute;
      top: 6px;
      left: 17px;
      font-family: "Poppins-Regular", Helvetica;
      font-weight: 400;
      color: #00000070;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .discover .overlap {
      width: 42px;
      height: 40px;
      left: 570px;
      background-color: #c95501;
      border-radius: 10px;
      position: absolute;
      top: 0;
    }

    .discover .material-symbols {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 8px;
      left: 9px;
    }

    .discover .navbar {
      position: absolute;
      width: 1182px;
      height: 56px;
      top: 17px;
      left: 28px;
    }

    .discover .overlap-2 {
      width: 71px;
      height: 56px;
      left: 0;
      position: absolute;
      top: 0;
    }

    .discover .vector {
      position: absolute;
      width: 27px;
      height: 26px;
      top: 30px;
      left: 0;
    }

    .discover .img {
      position: absolute;
      width: 46px;
      height: 48px;
      top: 0;
      left: 25px;
    }

    .discover .nepal-cares {
      position: absolute;
      width: 141px;
      top: 17px;
      left: 80px;
      font-family: "Poppins-Bold", Helvetica;
      font-weight: 700;
      color: transparent;
      font-size: 20px;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }

    .discover .text-wrapper-3 {
      left: 709px;
      font-family: "Poppins-Regular", Helvetica;
      font-weight: 400;
      position: absolute;
      top: 18px;
      color: #161923;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .discover .text-wrapper-4 {
      left: 919px;
      font-family: "Poppins-Regular", Helvetica;
      font-weight: 400;
      position: absolute;
      top: 18px;
      color: #161923;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .discover .text-wrapper-5 {
      left: 804px;
      font-family: "Poppins-Bold", Helvetica;
      font-weight: 700;
      position: absolute;
      top: 18px;
      color: #161923;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .discover .text-wrapper-6 {
      position: absolute;
      top: 18px;
      left: 1013px;
      font-family: "Poppins-Regular", Helvetica;
      font-weight: 400;
      color: #161923;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .discover .text-wrapper-7 {
      position: absolute;
      top: 18px;
      left: 1125px;
      font-family: "Poppins-Regular", Helvetica;
      font-weight: 400;
      color: #161923;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }

    .discover .break-line {
      position: absolute;
      width: 1006px;
      height: 6px;
      top: 308px;
      left: 137px;
      object-fit: cover;
    }

    .discover .suggested-profiles {
      position: absolute;
      width: 989px;
      height: 423px;
      top: 416px;
      left: 145px;
    }

    .discover .rectangle {
      height: 278px;
      top: 0;
      left: 0;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-2 {
      height: 278px;
      top: 0;
      left: 274px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-3 {
      height: 278px;
      top: 0;
      left: 525px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-4 {
      height: 278px;
      top: 0;
      left: 789px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-5 {
      height: 84px;
      top: 339px;
      left: 4px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-6 {
      height: 84px;
      top: 339px;
      left: 278px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-7 {
      height: 84px;
      top: 339px;
      left: 529px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .rectangle-8 {
      height: 84px;
      top: 339px;
      left: 793px;
      position: absolute;
      width: 196px;
      background-color: #d9d9d9;
      border-radius: 10px;
    }

    .discover .text-wrapper-8 {
      position: absolute;
      top: 348px;
      left: 603px;
      font-family: "Poppins-Medium", Helvetica;
      font-weight: 500;
      color: #161923;
      font-size: 20px;
      letter-spacing: 0;
      line-height: normal;
    }
  </style>
  <div class="discover">
    <div class="div">
      <p class="discover-those-in">
        <span class="text-wrapper">Discover</span> <span class="span"> those in need</span>
      </p> <br>
      <div class="search-bar">
        <div class="overlap-group">
          <div class="text-wrapper-2">Search</div>
        </div>
        <div class="overlap"><img class="material-symbols" src="img/material-symbols-search.svg" /></div>
        <div class="navbar">
          <div class="overlap-2">
            <img class="vector" src="img/image.svg" /> <img class="img" src="img/vector.svg" />
          </div>
          <p class="nepal-cares"><span class="text-wrapper" style="font-size: 60px;">Nepal</span> <span class="span" style="font-size:60px">Cares</span></p>
          <div class="text-wrapper-2" href="/">
            <a href="/" style="color:#000000">Home</a>
        </div>
          <div class="text-wrapper-3"><a href="/about" style="color:#000000">About</a>
          </div>
          <div class="text-wrapper-4"><a href="/Discover" style="color:#000000;">Discover</a>
          </div>
          <div class="text-wrapper-5"><a href="/contact" style="color:#000000">Contact</a>
          </div>
          <div class="text-wrapper-6"><a href="/joinus" style="color:#000000">Join Us</a>
          </div>
        </div>
        <img class="break-line" src="img/break-line.svg" />
        <div class="suggested-profiles">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
        </div>
        <div class="text-wrapper-8">Explore</div>
      </div>
      <div class="navbar">
        <div class="overlap-2">
          <img class="vector"> <i class="uil uil-search"></i>
        </div> 
        <p class="nepal-cares"><span class="text-wrapper">Nepal</span> <span class="span">Cares</span></p>
        <div class="text-wrapper-3">Home</div>
        <div class="text-wrapper-4">About</div>
        <div class="text-wrapper-5">Discover</div>
        <div class="text-wrapper-6">Contact</div>
        <div class="text-wrapper-7">Join Us</div>
      </div>
      <img class="break-line" src="img/break-line.svg" />
      <div class="suggested-profiles">
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="rectangle-5"></div>
        <div class="rectangle-6"></div>
        <div class="rectangle-7"></div>
        <div class="rectangle-8"></div>
      </div>
      <div class="text-wrapper-8">Explore</div>
    </div>
  </div>
</body>

</html>